name: Tests
on: 
  push:
    branches: [ master ]

jobs:
  pytest:
    name: pytest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@master
      with:
        python_version: ${{ matrix.python-version }}
        poetry_version: 1.0.0
    - name: Run pytest
      uses: tokusumi/actions-poetry@v1.1.0
      with:
        working_directory: ./
        command: run pytest
